 <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Verdana, sans-serif;
        }

        .container {
            margin: 10px 10px;
            border: 5px solid #4B0082;
            background-color: #FFC300;   
        }
        .item {
            border: 3px solid #483D8B;
            margin: 12px 12px;
            padding: 12px 7px;
            background: #E6E6FA;
        }
        #fruit {
            float: left;
            width: 48%;
            margin-right: 110px;
            margin-left: 40px;
            margin-top: 30px;
        }
        .img1 {
            border: 2px solid black;
        }
        #Icecream {
            float: right;
            width: 48%;
            margin-top: 50px;
            margin-right: 40px;
        }
        #iceimg {
            padding-left: 180px;
            width: 48%;
        }
        .img2{
            border: 2px solid black;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        #books {
            float: left;
            width: 48%;
            margin-left: 40px;
            margin-top: 30px;
        }      
        .img3 {
            border: 2px solid black;
            margin-left: 200px;
            margin-bottom: 25px;
        }

</style>